{% extends "./layout/main.twig" %}

{% block content %}
  <h1>{{ header }}</h1>
  <p>Данная страница отсутствует, возможно вы не правильно ввели адрес.</p>
  <a href="/">Главная страница</a>
{% endblock content %}