{% extends "./layout/main.twig" %}

{% block content %}
  <h1>{{ header }}</h1>
  <p>API будет отдаваться по адресу - http://localhost:3000/api/</p>
  <a href="http://localhost:3000/dog/">Посмотреть собачек, которые я буду отдавать</a>
{% endblock content %}